## **AIRBNB Data Cleaning & EDA**

**Steps**
1. Importing all dependencies (lib)
2. Loading Datasets
3. Initial Exploration
4. Data Cleaning
5. Data Analysis

**1. Importing all Dependencies**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**2. Loading Datasets**

In [4]:
data = pd.read_csv('airbnb_data0.csv', encoding_errors='ignore')

**3. Explore Data**

In [8]:
data.shape

(20770, 22)

In [5]:
data.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,1.312228e+06,Rental unit in Brooklyn · ★5.0 · 1 bedroom,7130382,Walter,Brooklyn,Clinton Hill,40.683710,-73.964610,Private room,55.0,...,20/12/15,0.03,1.0,0.0,0.0,No License,5,1,1,Not specified
1,4.527754e+07,Rental unit in New York · ★4.67 · 2 bedrooms ·...,51501835,Jeniffer,Manhattan,Hell's Kitchen,40.766610,-73.988100,Entire home/apt,144.0,...,01/05/23,0.24,139.0,364.0,2.0,No License,4.67,2,1,1
2,9.710000e+17,Rental unit in New York · ★4.17 · 1 bedroom · ...,528871354,Joshua,Manhattan,Chelsea,40.750764,-73.994605,Entire home/apt,187.0,...,18/12/23,1.67,1.0,343.0,6.0,Exempt,4.17,1,2,1
3,3.857863e+06,Rental unit in New York · ★4.64 · 1 bedroom · ...,19902271,John And Catherine,Manhattan,Washington Heights,40.835600,-73.942500,Private room,120.0,...,17/09/23,1.38,2.0,363.0,12.0,No License,4.64,1,1,1
4,4.089661e+07,Condo in New York · ★4.91 · Studio · 1 bed · 1...,61391963,Stay With Vibe,Manhattan,Murray Hill,40.751120,-73.978600,Entire home/apt,85.0,...,03/12/23,0.24,133.0,335.0,3.0,No License,4.91,Studio,1,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20770 entries, 0 to 20769
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20770 non-null  float64
 1   name                            20770 non-null  object
 2   host_id                         20770 non-null  int64
 3   host_name                       20770 non-null  object
 4   neighbourhood_group             20770 non-null  object
 5   neighbourhood                   20763 non-null  object
 6   latitude                        20763 non-null  float64
 7   longitude                       20763 non-null  float64
 8   room_type                       20763 non-null  object
 9   price                           20736 non-null  float64
 10  minimum_nights                  20763 non-null  float64
 11  number_of_reviews               20763 non-null  float64
 12  last_review                     20763 non-null  object
 13  reviews_per_month               20763 non-null  float64
 14  calculated_host_listings_count  20763 non-null  float64
 15  availability_365                20763 non-null  float64
 16  number_of_reviews_ltm           20763 non-null  float64
 17  license                         20770 non-null  object
 18  rating                          20770 non-null  object
 19  bedrooms                        20770 non-null  object
 20  beds                            20770 non-null  int64
 21  baths                           20770 non-null  object
dtypes: float64(10), int64(2), object(10)
memory usage: 3.5+ MB

In [9]:
#statistical summary
data.describe(include='all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
count,2.077000e+04,20770,2.077000e+04,20770,20770,20763,20763.000000,20763.000000,20763,20736.000000,...,20763,20763.000000,20763.000000,20763.000000,20763.000000,20770,20770,20770,20770.000000,20770
unique,NaN,9836,NaN,5815,5,221,NaN,NaN,4,NaN,...,1878,NaN,NaN,NaN,NaN,879,162,12,NaN,17
top,NaN,Rental unit in New York · 1 bedroom · 1 bed · ...,NaN,Jeniffer,Manhattan,Bedford-Stuyvesant,NaN,NaN,Entire home/apt,NaN,...,04/09/23,NaN,NaN,NaN,NaN,No License,No rating,1,NaN,1
freq,NaN,409,NaN,187,8050,1583,NaN,NaN,11555,NaN,...,326,NaN,NaN,NaN,NaN,17579,3595,13445,NaN,17026
mean,3.033858e+17,NaN,1.749049e+08,NaN,NaN,NaN,40.726821,-73.939179,NaN,187.714940,...,NaN,1.257589,18.866686,206.067957,10.848962,NaN,NaN,NaN,1.723592,NaN
std,3.901221e+17,NaN,1.725657e+08,NaN,NaN,NaN,0.060293,0.061403,NaN,1023.245124,...,NaN,1.904472,70.921443,135.077259,21.354876,NaN,NaN,NaN,1.211993,NaN
min,2.595000e+03,NaN,1.678000e+03,NaN,NaN,NaN,40.500314,-74.249840,NaN,10.000000,...,NaN,0.010000,1.000000,0.000000,0.000000,NaN,NaN,NaN,1.000000,NaN
25%,2.707260e+07,NaN,2.041184e+07,NaN,NaN,NaN,40.684159,-73.980755,NaN,80.000000,...,NaN,0.210000,1.000000,87.000000,1.000000,NaN,NaN,NaN,1.000000,NaN
50%,4.992852e+07,NaN,1.086990e+08,NaN,NaN,NaN,40.722890,-73.949597,NaN,125.000000,...,NaN,0.650000,2.000000,215.000000,3.000000,NaN,NaN,NaN,1.000000,NaN
75%,7.220000e+17,NaN,3.143997e+08,NaN,NaN,NaN,40.763106,-73.917475,NaN,199.000000,...,NaN,1.800000,5.000000,353.000000,15.000000,NaN,NaN,NaN,2.000000,NaN
max,1.050000e+18,NaN,5.504035e+08,NaN,NaN,NaN,40.911147,-73.713650,NaN,100000.000000,...,NaN,75.490000,713.000000,365.000000,1075.000000,NaN,NaN,NaN,42.000000,NaN

**4. Data Cleaning**

In [10]:
data.isnull().sum()

id                                 0
name                               0
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      7
latitude                           7
longitude                          7
room_type                          7
price                             34
minimum_nights                     7
number_of_reviews                  7
last_review                        7
reviews_per_month                  7
calculated_host_listings_count     7
availability_365                   7
number_of_reviews_ltm              7
license                            0
rating                             0
bedrooms                           0
beds                               0
baths                              0
dtype: int64

In [14]:
# drops all missing values
data.dropna(inplace=True)
data.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
rating                            0
bedrooms                          0
beds                              0
baths                             0
dtype: int64

In [15]:
data.shape

(20736, 22)

In [17]:
# find no of duplicates
data.duplicated().sum()

12

In [18]:
data[data.duplicated()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
6,4.527754e+07,Rental unit in New York · ★4.67 · 2 bedrooms ·...,51501835,Jeniffer,Manhattan,Hell's Kitchen,40.766610,-73.988100,Entire home/apt,144.0,...,01/05/23,0.24,139.0,364.0,2.0,No License,4.67,2,1,1
7,9.710000e+17,Rental unit in New York · ★4.17 · 1 bedroom · ...,528871354,Joshua,Manhattan,Chelsea,40.750764,-73.994605,Entire home/apt,187.0,...,18/12/23,1.67,1.0,343.0,6.0,Exempt,4.17,1,2,1
8,3.857863e+06,Rental unit in New York · ★4.64 · 1 bedroom · ...,19902271,John And Catherine,Manhattan,Washington Heights,40.835600,-73.942500,Private room,120.0,...,17/09/23,1.38,2.0,363.0,12.0,No License,4.64,1,1,1
9,4.089661e+07,Condo in New York · ★4.91 · Studio · 1 bed · 1...,61391963,Stay With Vibe,Manhattan,Murray Hill,40.751120,-73.978600,Entire home/apt,85.0,...,03/12/23,0.24,133.0,335.0,3.0,No License,4.91,Studio,1,1
10,4.958498e+07,Rental unit in New York · ★5.0 · 1 bedroom · 1...,51501835,Jeniffer,Manhattan,Hell's Kitchen,40.759950,-73.992960,Entire home/apt,115.0,...,29/07/23,0.16,139.0,276.0,2.0,No License,5,1,1,1
20736,7.990000e+17,Rental unit in New York · 2 bedrooms · 2 beds ...,224733902,CozySuites Copake,Manhattan,Upper East Side,40.768970,-73.957592,Entire home/apt,153.0,...,15/09/23,0.41,8.0,308.0,2.0,No License,No rating,2,2,2
20737,5.930000e+17,Rental unit in New York · ★4.79 · 2 bedrooms ·...,23219783,Rob,Manhattan,West Village,40.730220,-74.002910,Entire home/apt,175.0,...,22/11/23,2.03,4.0,129.0,25.0,No License,4.79,2,2,1
20738,9.230000e+17,Loft in New York · ★4.33 · 1 bedroom · 2 beds ...,520265731,Rodrigo,Manhattan,Greenwich Village,40.728390,-73.999540,Entire home/apt,156.0,...,02/01/24,2.60,1.0,356.0,9.0,Exempt,4.33,1,2,1
20739,1.336161e+07,Rental unit in New York · ★4.89 · 2 bedrooms ·...,8961407,Jamie,Manhattan,Harlem,40.805700,-73.946250,Entire home/apt,397.0,...,08/09/23,1.08,3.0,274.0,3.0,No License,4.89,2,2,1
20740,5.119566e+07,Rental unit in New York · Studio · 1 bed · 1 bath,51501835,Jeniffer,Manhattan,Chinatown,40.718360,-73.995850,Entire home/apt,100.0,...,25/05/23,0.08,139.0,306.0,1.0,No License,No rating,Studio,1,1
20741,2.523473e+07,Rental unit in New York · ★4.41 · 1 bedroom · ...,1497427,Mara,Manhattan,Upper East Side,40.774030,-73.950580,Entire home/apt,120.0,...,31/03/23,0.26,2.0,364.0,1.0,No License,4.41,1,2,1
20742,3.339399e+06,Rental unit in New York · ★4.73 · 1 bedroom · ...,2119276,Urban Furnished,Manhattan,West Village,40.732030,-74.006760,Entire home/apt,143.0,...,09/05/23,0.20,54.0,285.0,2.0,No License,4.73,1,1,1

In [ ]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()
#data.shape

(20724, 22)